<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arnold.eureka_mobile" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_team_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Homepage.HomepageActivity"
            android:label="@string/title_activity_homepage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.CanteenActivity"
            android:label="@string/title_activity_canteen"
            android:parentActivityName=".Activity.Homepage.HomepageActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Homepage.HomepageActivity" />
        </activity>
        <activity
            android:name=".Activity.EmployeeProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".Activity.Homepage.HomepageActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Homepage.HomepageActivity" />
        </activity>
        <!-- for facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".Activity.MapActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".Activity.Homepage.HomepageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Homepage.HomepageActivity" />
        </activity>
        <activity
            android:name=".Activity.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:parentActivityName=".Activity.Homepage.HomepageActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Homepage.HomepageActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Activity.OtherUsers.DriverMainActivity"
            android:label="@string/title_activity_driver_main" >
        </activity>
        <activity
            android:name=".Activity.OtherUsers.HawkerMainActivity"
            android:label="@string/title_activity_hawker_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.SelectFoodActivity"
            android:label="@string/title_activity_select_food"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.SelectHawkerActivity"
            android:label="@string/title_activity_select_hawker"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.ShoppingCart.ShoppingCartActivity"
            android:label="@string/title_activity_shopping_cart"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
